/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.fill{
   flex: 1;
}

.modal-header{
    padding: 0.5rem;
}
.modal-footer {
    padding: 0.5rem;
}
